:root {
    --blue: #216FAA;
    --beige: #F4F1E9;
    --green: #81B04C;
    --black: #000000;
    --gray: #4D4D4D;
}

@font-face {
    font-family: "FSP DEMO - Modica SemiBold";
    src: url("../public/fonts/modica-semibold.eot");
    src: url("../public/fonts/modica-semibold.eot?#iefix") format("embedded-opentype"),
         url("../public/fonts/modica-semibold.woff2") format("woff2"),
         url("../public/fonts/modica-semibold.woff") format("woff"),
         url("../public/fonts/modica-semibold.ttf") format("truetype"),
         url("../public/fonts/modica-semibold.svg#FSP DEMO - Modica SemiBold") format("svg");

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    src: url('/fonts/MaterialSymbolsOutlined.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    margin: 0px;
    font-family: 'FontSpring Demo Modica', sans-serif;
    color: var(--gray);
    background-color: #EFF2F5;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}